[Unit]
Description=LTHN daemon
ConditionPathExists=/usr/bin/letheand
After=syslog.target

[Service]
EnvironmentFile=/etc/default/lethean-daemon
Type=simple
ExecStart=/usr/bin/letheand-fetchbc.sh run /usr/bin/letheand $LETHEAND_ARGS
User=lthn
Group=lthn
Restart=always
PIDFile=/var/run/lthn/letheand.pid
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

