[Unit]
Description=LTHN wallet VPN RPC daemon
After=syslog.target

[Service]
EnvironmentFile=/etc/default/lethean-wallet-vpn-rpc
Type=simple
WorkingDirectory=/var/lib/lthn
ExecStartPre=/bin/rm -f /var/run/lthn/lethean-wallet-vpn-rpc.*.login
ExecStart=/usr/bin/lethean-wallet-vpn-rpc ${LETHEANWALLETVPNRPC_ARGS}
User=lthn
Group=lthn
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

