#!/usr/bin/make -f

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DARCH=default -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DUSE_SHARED_MINIUPNPC=yes -DUNBOUND_INCLUDE_DIR=/usr/include

override_dh_auto_build:
	make release

override_dh_auto_test:

override_dh_install:
	mkdir -p debian/tmp/usr/lib/lthn
	cp debian/letheand-fetchbc.sh debian/tmp/usr/lib/lthn/
	cp debian/letheand-fetchbc.sh debian/tmp/usr/lib/lthn/
	cp build/release/bin/* debian/tmp/usr/bin/
	dh_install

override_dh_installinit:
	dh_installinit -p lethean-daemon
	dh_installinit -p lethean-wallet-rpc
	dh_installinit -p lethean-wallet-vpn-rpc

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_clean:
	rm -rf ./build/ ./obj-* CMakeCache.txt CMakeFiles* install_manifest.txt
	dh_auto_clean
