[Unit]
Description=Lethean Full Node
After=network.target

[Service]
User=intense
Group=intense
WorkingDirectory=~

Type=forking
PIDFile=/var/run/letheand.pid

ExecStart=/usr/bin/letheand --config-file /etc/letheand.conf \
    --detach --pidfile /var/run/letheand.pid

[Install]
WantedBy=multi-user.target
